@charset "UTF-8";

.tableTitle {text-align: center; font-size: 20px;}

.fileUpload { font-size: 11px; float: right;}

.menu_title { 
	margin-top: 10px;
	background-color: yellow;
	text-align: left;
	font-weight: bold;
    font-size: 15px;
}

a { text-decoration:none; }

th { font-size: 11px; }

td { font-size: 11px; }

.DTE_Field_Info { color: red; }